  /* mantiene la pagina centrada en el medio */
  .page-container {
  width: 70%; /* Establecer el ancho al 70% de la pantalla */
  margin: 0 auto; /* Centrar horizontalmente */
}

@media (max-width: 768px) {
  .page-container {
    width: 100%; /* Ocupa el ancho completo de la pantalla si es movil o tablet */
  }
}