<form (ngSubmit)="submitForm()">

    <!--input comentario-->
    <label for="comment">Comentario:</label>
    <textarea id="comment" name="comment" [(ngModel)]="newComment.userComment"></textarea>

    <!--input tags-->
    <label for="tags">Tags:</label>
    <input type="text" id="tags" name="tags" [(ngModel)]="tags" (ngModelChange)="onTagsInputChange()">

    <!--submit-->
    <div class="buttons-container">
        <button type="submit">Enviar</button>
        <app-back-button class="align-button"></app-back-button>
    </div>
</form>